html {
   height: 100%;
   
}

body {
   background: url(https://scontent.ftpa1-1.fna.fbcdn.net/v/t1.0-9/46287529_1905319816251562_8835275356014379008_o.jpg?_nc_cat=110&_nc_oc=AQlkOvv4lqOjgkYrFLh7Lj836ywjDJ3mSliR_Cikl3V6gtRFjF6_R4MTwfkeKMeAFOcrFTD3G7191XuJZGALM33n&_nc_ht=scontent.ftpa1-1.fna&oh=7c52befeb8bc75787f157391ef3566f7&oe=5D2049C2);
   background-size: cover;
   background-position: center;
   font-family: Lato;
   color: white;
   
   
}


#h1title {
  font-size: 4em;
}


#navtitle {
   font-size: 2em;
}

#content {
	text-align: center;
   padding-top: 10%;
   padding-bottom: 5%;
		text-shadow: 
	-1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
   color: orange;
}

.youtube {
   position: relative;
   margin: 1rem -15px 0;
   border: solid #f8f9fa
}

