* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

div.first {
  height: 100%;
}

div.second {
   width: 100%;
   height: 50vmax;
   overflow: hidden;
}

div.first {
  background-image: url(alexback.png);
  background-position: center;
  background-size: cover;
}
div.second {
  background-color: black;
  background-size: cover;
}

.h1title {
   font-size: 5vw;
}

.h3under {
   font-size: 3vw;
}

.nav-link {
  font-size: 1.1rem;
  color: brown;
}

#navtitle {
   font-size: 2rem;
   font-family: 'Lobster', cursive;
   color: brown;
}

#content {
	/*text-align: center;*/
   padding-top: 5%;
   /*padding-bottom: 5%;*/
	text-shadow: 
	-1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
   color: orange;
   font-family: 'Anton', sans-serif;
}

.fa-facebook-square {
   color: #3b5998;
}

.navbar {
   background-color: #b7c4c0cc;
 }

.builtbybeer p {
   color: white;
   position: absolute;
   right: 0px;
   bottom: 0px;
   padding-right: 15px;
   padding-bottom: 20px;
   z-index: 1;
}

.builtbybeer img {
   height: 50px;
   width: 62px;
}

.credit p {
   position: absolute;
   right: 0px;
   bottom: 0px;
}

.arrowdown p {
   position: absolute;
   color: white;
   left: 50%;
   top: 87%;
   font-size: 5vw;
}

.arrowdown a {
  color: white;
}

/*removed redundant padding, replaced with bootstrap*/

/*.yt1 .yt1row {
   padding-top: 6%;
}*/